<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ejercitar JavaScript</title>
  <link rel="stylesheet" href="css/stilos.css">
</head>

<body>
  <h1>Ejercicios JavaScript</h1>
  <div class="jx-centrear">
    <h2>1) Realizar impresion en el DOM de 1 al 10 </h2>
    <div class="contenedor_1 contenedor">

    </div>
  </div>
  <div class="jx-centrear">
    <h2>2) Tomar el valor del input y mostrarlo en el DOM </h2>
    <input type="text" placeholder="Ingrese un valor" id="box_One" class="jx-input" >
    <div id="contenedor_2" class="contenedor">
    </div>
  </div>
  <div class="jx-centrear">
    <h2>3) Generar los n primeros numeros primos </h2>
    <input type="text" placeholder="Ingrese una cantidad de primos" id="box_Two" class="jx-input">
    <button id="btn_primos" class="button">Generar</button>
    <div id="contenedor_3" class="contenedor">
    </div>
  </div>
  <div class="jx-centrear">
    <h2>4) Generar los n primeros numeros Factoriales </h2>
    <input type="text" placeholder="Ingrese una cantidad de factoriales" id="box_Three" class="jx-input">
    <button id="btn_factoriales" class="button">Generar</button>
    <div id="contenedor_4" class="contenedor">
    </div>
  </div>
  <script src="js/ejercicios.js"></script>
</body>

</html>