<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ejercitar JavaScript</title>
  <link rel="stylesheet" href="css/stilos.css">
</head>

<body>
  <h1>Ejercicios JavaScript</h1>
  <h1>Basicos</h1>
  <div class="jx-centrear">
    <h2>1) Realizar impresion en el DOM de 1 al 10 </h2>
    <div class="contenedor_1 contenedor">

    </div>
  </div>
  <div class="jx-centrear">
    <h2>2) Tomar el valor del input y mostrarlo en el DOM </h2>
    <input type="text" placeholder="Ingrese un valor" id="box_One" class="jx-input">
    <div id="contenedor_2" class="contenedor">
    </div>
  </div>
  <div class="jx-centrear">
    <h2>3) Generar los n primeros numeros primos </h2>
    <input type="text" placeholder="Ingrese una cantidad de primos" id="box_Two" class="jx-input">
    <button id="btn_primos" class="button">Generar</button>
    <div id="contenedor_3" class="contenedor">
    </div>
  </div>
  <div class="jx-centrear">
    <h2>4) Generar los n primeros numeros Factoriales </h2>
    <input type="text" placeholder="Ingrese una cantidad de factoriales" id="box_Three" class="jx-input">
    <button id="btn_factoriales" class="button">Generar</button>
    <div id="contenedor_4" class="contenedor">
    </div>
  </div>
  <div class="jx-centrear">
    <h2>5) Verificar si un numero es capicua </h2>
    <input type="number" placeholder="Ingrese un numero" id="box_Four" class="jx-input">
    <button id="btn_capicua" class="button">Verificar</button>
    <div id="contenedor_5" class="contenedor">
    </div>
  </div>
  <div class="jx-centrear">
    <h2>6) Contar cantidad de vocales en una palabra </h2>
    <input type="text" placeholder="Ingrese una palabra o frase" id="box_Five" class="jx-input">
    <button id="btn_contPalabra" class="button">Contar</button>
    <div id="contenedor_6" class="contenedor">
    </div>
  </div>
  <div class="jx-centrear">
    <h2>7) Generar los n numeros fibonacci </h2>
    <input type="number" placeholder="Ingrese una cantidad" id="box_Six" class="jx-input">
    <button id="btn_fivonaci" class="button">Generar</button>
    <div id="contenedor_7" class="contenedor">
    </div>
  </div>
  <h1>Ejercicios JavaScript</h1>
  <h1>Intermedio</h1>
  <div class="jx-centrear">
    <h2>✅ Agregar nuevo elemento al array. </h2>
    <input type="text" placeholder="Ingrese un nuevo valor" id="box_array" class="jx-input">
    <button id="btn_agregar" class="button">Agregar</button>
    <div id="contenedor_8" class="contenedor">
    </div>
  </div>
  <div class="jx-centrear">
    <button class="button" id="btn_ordenar">Ascendente y Desendente</button>
    <h2>Ascendentes numeros</h2>
    <div id="rpt1" class="contenedor"></div>
    <h2>Descendentes numeros</h2>
    <div id="rpt1_2" class="contenedor"></div>

    <button class="button" id="Elminar_duplicados">Eliminar Duplicados</button>
    <div id="rpt2" class="contenedor"></div>

    <button class="button">Buscar elemento</button>
    <div id="rpt3" class="contenedor"></div>

    <button class="button">Suma de elementos</button>
    <div id="rpt4" class="contenedor"></div>

    <button class="button">Promedio de edades</button>
    <div id="rpt5" class="contenedor"></div>

    <button class="button">aplanar Array</button>
    <div id="rpt6" class="contenedor"></div>
  </div>
  <script src="js/ejercicios.js"></script>
</body>

</html>