<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercitar JavaScript</title>
    <link rel="stylesheet" href="css/stilos.css">
</head>
<body>
    <h1>Ejercicios JavaScript</h1>
    <div class="jx-centrear">
        <h2>Realizar un array y Mostrarlo por el DOM</h2>
       
        <div class="Ejercicio_1 contenedor">
        </div>

    </div>
    <script src="js/ejercicios.js"></script>
</body>
</html>