<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stile_listaTareas.css">
    <title>Lista de Tareas</title>
</head>
<body>
    <h1>lista de Tareas</h1>
    <div>
        <form action="">
            <input type="text">
            <button class="btnAdd">+</button>
        </form>
    </div>
    <div class="li-container">
        <ul>
        </ul>
    </div>
    <div class="empty">
        <p>No tienes tareas pendientes</p>
    </div>
    <script src="js/listTareas.js"></script>
</body>
</html>